<h1>***  Emails viewer  ***</h1>

<div class="email-list">
	<div id="list">
		<!--list of emails-->
		<%= render 'emails/list' %>
	</div>
	<div id="content">
		hello

		<!--body would be here -->
	</div>
</div>
